<div class="card text-white bg-dark">
    <div class="card-body">
        <h4 class="card-title d-flex justify-content-center">Bienvenido</h4>
    </div>
</div>

<div class="mb-3">
    <div class="d-flex">
        <select  class="form-select form-select-lg" (change)="capturarEmpresa($event)">
            <option value="">Empresa</option>
            <option value="FAM">FAM</option>
            <option value="RECREFAM">RECREFAM</option>
        </select>
        <br>
        <select class="form-select form-select-lg" *ngIf="empresaSeleccionada" (change)="capturarSelect($event)">
            <option value="">Grupos</option>
            <option value="Granos" *ngFor="let grupo of gruposUnicos" value="{{grupo}}">{{grupo}}</option>
        </select>
    </div>
    <br>
    <div class="table-responsive" *ngIf="valorSeleccionado">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Presentación</th>
                    <th scope="col">Imprimir</th>
                </tr>
            </thead>
            <tbody *ngFor="let art of articulo">
                <tr class="">
                    <td scope="row">{{art.Codigo}}</td>
                    <td>{{art.Nombre}}</td>
                    <td>{{art.Presentacion}}</td>
                    <td><input type="checkbox" (click)="capturarValores($event)"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="printer()">Enviar datos</button>
    </div>
    <!-- //DIV a imprimir -->
    <div id="print" [style.visibility]="'hidden'" style="margin: 0; padding: 0; border: 0; width: 30%; height: 50%; display: flex; flex-direction: column; gap: 10px;">
        <div style="display: flex; width: 520px;">
            <div style="width: 410px;" *ngFor="let dataPar of listPar">
                <p style="margin: 0;">{{dataPar.codigo}}</p>
                <div style="font-size: 17px; padding: 0px; margin: 0px;" >
                    <p style="margin: 0;" *ngIf="dataPar.nombre[0]">{{dataPar.nombre[0]}}</p>
                    <p style="margin: 0;" *ngIf="dataPar.nombre[1]">{{dataPar.nombre[1]}}</p>
                    <p style="margin: 0;" *ngIf="dataPar.nombre[2]">{{dataPar.nombre[2]}}</p>
                    <p style="margin: 0;" *ngIf="dataPar.nombre[3]">{{dataPar.nombre[3]}}</p>
                </div>
                <p style="margin: 0; font-size: 15px;">{{dataPar.presentacion}}</p>
                <p style="margin: 0; font-size: 15px;">{{empresaSeleccionada}}</p>
            </div>
        </div>
    </div>
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

