
<div class="card text-white bg-primary">
    <div class="card-body">
        <h4 class="card-title d-flex justify-content-center">Bienvenido</h4>
    </div>
</div>

<div class="mb-3">
    <select  class="form-select form-select-lg" (change)="capturarSelect($event)">
        <option value="">Empresa</option>
        <option value="FAM">FAM</option>
        <option value="RECREFAM">RECREFAM</option>
    </select>
    <br>
    <select class="form-select form-select-lg" (change)="capturarSelect($event)">
        <option value="">Grupos</option>
        <option value="Granos" *ngFor="let grupo of gruposUnicos" value="{{grupo}}">{{grupo}}</option>
    </select>
    <br>
    <div class="table-responsive" *ngIf="valorSeleccionado">
        <table class="table table-light border">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Presentación</th>
                    <th scope="col">Imprimir</th>
                </tr>
            </thead>
            <tbody *ngFor="let art of articulo">
                <tr class="">
                    <td scope="row">{{art.Codigo}}</td>
                    <td>{{art.Nombre}}</td>
                    <td>{{art.Presentacion}}</td>
                    <td><input type="checkbox" (click)="capturarValores($event)"></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="printer()">Enviar datos</button>
    </div>
    <!-- //DIV a imprimir -->
    <div id="print" style="margin: 0; padding: 0; border: 0; width: 50%; height: 50%;">
        <div>
            <p style="font-size: 15px; padding: 0px; margin: 0px; padding-bottom: 8px;" id="nombreSticker">
                {{nombreImpr[0]}} <br>
                <span *ngIf="nombreImpr[1]">{{nombreImpr[1]}} <br></span>
                <span *ngIf="nombreImpr[2]">{{nombreImpr[2]}} <br></span>
                <span *ngIf="nombreImpr[3]">{{nombreImpr[3]}} <br></span>
            </p>
            <p style="font-size: 12px; padding: 0px; margin: 0px;">
                {{ codigoImpr }} - {{ presentacionImpr }} - FAM
            </p>
        </div>
        <!-- <div style="display: flex; align-items: center; justify-content: center; position: absolute; 
                    width: 3301px; height: 2551px; background-size: 100% 100%; background-repeat:no-repeat;
                    background-size: cover;" class="align-middle">

            <div [innerHTML]="contenedorImpresion" style="text-align: center; font-family: sans-serif;">
            </div>

            
        </div> -->
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

